.pricing__section {
  padding: 10px 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
}

.pricing__container-card {
  background: whitesmoke;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 300px;
  height: 300px;
  text-decoration: none;
  border-radius: 8px;
}
.pricing__container-card-horizontal {
  background: whitesmoke;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 500;
  height: 280;
  text-decoration: none;
  border-radius: 4px;
}

.pricing__container-card:nth-child(2) {
  /* transform: scale(1.01); */
  background: black;
}

.pricing__container-card:hover {
  /* transform: scale(1.01); */
  /* transition: all 0.3s ease-out; */
  /* border: 2px solid#f00946; */
}

.pricing__container-card:nth-child(2) {
  margin: 0 24px;
}

.pricing__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.pricing__heading {
  color: #1c2237;
  margin-bottom: 24px;
}

.pricing__container-cardInfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: #fff;
}
.pricing__container-cardInfo-dark {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: black;
}
/* TEXT IN MY PROJECTS*/
.pricing__container-cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: black;
}
.pricing__container-cardInfo-dark h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: white;
}

.pricing__container-cardInfo h4 {
  font-size: 40px;
  color: black;
}
.pricing__container-cardInfo-dark h4 {
  font-size: 40px;
  color: white;
}

.pricing__container-cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
  color: black;
}
.pricing__container-cardInfo-dark p {
  font-size: 14px;
  margin-bottom: 24px;
  color: white;
}

.pricing__container-features {
  margin: 16px 0 32px;
  list-style: none;
}
.pricing__container-features-dark {
  margin: 16px 0 32px;
  list-style: none;
}

.pricing__container-features li {
  margin-bottom: 10px;
  color: black;
}
.pricing__container-features-dark li {
  margin-bottom: 10px;
  color: white;
}

.pricing__container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-dark {
  margin: 20px 0;
  color: black;
}
.icon-light {
  margin: 20px 0;
  color: white;
}

@media screen and (max-width: 960px) {
  .pricing__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pricing__container-card {
    width: 90%;
  }

  .pricing__wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing__container-card:nth-child(2) {
    /* transform: scale(1); */
    background: #242424;
    margin: 24px;
  }

  .pricing__container-card:hover {
    transform: none;
  }
}
