.LayoutSection {
  padding: 10px 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

.LayoutContainerCard {
  background: white;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 300px;
  height: 300px;
  text-decoration: none;
  border-radius: 8px;
}

.LayoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LayoutWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.LayoutHeading {
  color: #1c2237;
  margin-bottom: 24px;
}

.layout__container-cardInfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: black;
}

@media screen and (max-width: 960px) {
  .LayoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .layout__container-card {
    width: 90%;
  }

  .LayoutWrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .layout__container-card:nth-child(2) {
    transform: scale(1);
    background: #242424;
    margin: 24px;
  }

  .layout__container-card:hover {
    transform: none;
  }
}
