@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1b1b1b;
  color: #999;
}

/* FORM BUTTON */
button[type="submit"] {
  background: white;
  color: #f00946;
  border: 1px solid#f00946;
}

button[type="submit"]:hover {
  color: white;
  background: #f00946;
  transform: scale(1.01);
  transition: all 0.3s ease-out;
  border: 1px solid#f00946;
  cursor: pointer;
}
.form {
  display: flexbox;
}

form > select {
  background-color: hsla(0, 0%, 70%, 0.25);
  border: 1px solid#f00946;
  cursor: pointer;
}

/* BUTTON  */
.button {
  background: white;
  color: #f00946;
  border: 1px solid#f00946;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}
.button:hover {
  color: white;
  background: #f00946;
  transform: scale(1.01);
  transition: all 0.3s ease-out;
  border: 1px solid#f00946;
  cursor: pointer;
}

.button-sort {
  padding: 5px;
}
.button-sort:hover {
  cursor: pointer;
}
.button-sort:checked {
  color: #1b1b1b;
  border: 1px solid hsla(0, 0%, 70%, 0.25);
  border-radius: 6px;
}

/* NAVBAR */
.navbar-main {
  align-content: space-between;
  color: #f00606;
  border: none;
  text-align: center;
  padding: 5%;
  margin: 2%;
}
.button-navbar {
  color: #f00606;
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 5%;
  margin: 5%;
}
.button-navbar:hover {
  color: #f00606;
  transition: all 0.3s ease-out;
  cursor: pointer;
  text-decoration: none;
}
.button-radio-container {
  display: block;
  position: relative;
  height: auto;
  padding: 10px;
}
/* input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
} */
.button-radio-label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  border: 2px solid #444;
  border-radius: 4px;
}

.layout__select {
  background-color: hsla(0, 0%, 70%, 0.25);
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 2.2rem;
}
.table {
  overflow-y: scroll;
  height: 300px;
}

.layout__container-background {
  background-color: hsla(0, 0%, 70%, 0.25);
  border-radius: 8px;
  border: none;
}

.lazy__container-background {
  background-color: hsla(0, 0%, 70%, 0.25);
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 5%;
}
.button-secondary {
  color: #f00606;
  background-color: hsla(0, 0%, 70%, 0.25);
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 5%;
  margin: 2%;
}
.button-secondary:hover {
  color: #f00606;
  transition: all 0.3s ease-out;
  cursor: pointer;
  text-decoration: none;
}

/* TABLE-HISTORY */
.transaction-container {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.transaction-row {
  display: flex;
  flex-direction: row;
  text-align: justify;
  height: 2rem;
  width: max-content;
}
.transaction {
  display: flex;
  align-items: center;
  padding-right: 4rem;
  min-width: 8rem;
}
.transaction > h1 {
  font-size: 16px;
  width: 100px;
}
.transaction-option {
  text-transform: uppercase;
}

.transaction-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.transaction-price {
  width: 8rem;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
