@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

$primaryColor: #f00946;
$secondaryColor: hsla(0, 0%, 70%, 0.25);
$darkColor: #1b1b1b;

$transition: all 0.3s ease-out;
$primaryBorder: 1px solid #{$primaryColor};

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body.light-mode {
  background-color: #fff;
  color: #{$darkColor};
  transition: background-color 0.3s ease;

  .element-lightmode {
    background-color: #ececec;
  }
}
body.dark-mode {
  background-color: #{$darkColor};
  color: #999;

  .element-darkmode {
    color: #999;
    background-color: #333;
    border-radius: 8px;
    border: none;
  }
}
/* FORM BUTTON */
button {
  // FORM -> SEND BUTTON
  &[role="button-submit"] {
    position: absolute;
    padding: inherit + 1em;
    background: white;
    color: #{$primaryColor};
    border: #{$primaryBorder};
    width: 90%;
  }
  &[role="button-submit"]:hover {
    color: white;
    background: #{$primaryColor};
    transform: scale(1.01);
    transition: #{$transition};
    border: #{$primaryBorder};
    width: 90%;
    cursor: pointer;
  }
  &[role="button-secondary"] {
    margin: 0.1rem;
    padding: 0.1rem;
    display: inline-block;
  }
  &[role="button-secondary"]:hover {
    cursor: pointer;
  }
}
.form {
  display: flexbox;
  position: relative;
  padding: 2em;

  // FORM -> SELECT -> (EXP/INC)
  & select {
    background-color: #{$secondaryColor};
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 2.2rem;
  }
}
// FORM -> CATEGORY
label {
  padding: 0.1rem;
  display: inline-block;

  :hover {
    cursor: pointer;
  }
  :checked {
    color: #{$darkColor};
    border: 1px solid #{$secondaryColor};
    border-radius: 6px;
  }
}
// HISTORY -> SORT BUTTONS
.button-sort {
  margin: 0.1rem;
  padding: 0.1rem;
  display: inline-block;
}
.button-sort:hover {
  cursor: pointer;
}
.button-sort:checked {
  color: #{$darkColor};
  border: 1px solid #{$secondaryColor};
  border-radius: 6px;
}
// NAVBAR -> NAVBAR - BUTTONS
.navbar {
  align-content: space-between;
  color: #{$primaryColor};
  border: none;
  text-align: center;
  padding: 5%;
  margin: 2%;
}
.button-navbar {
  color: #{$primaryColor};
  border-radius: 8px;
  border: none;
  text-align: center;
  padding: 5%;
}
.button-navbar:hover {
  color: #{$primaryColor};
  transition: all 0.3s ease-out;
  cursor: pointer;
  text-decoration: none;
}
// TABLE
.table {
  overflow-y: scroll;
  height: 300px;
}
.element-background {
  background-color: #{$secondaryColor};
  border-radius: 8px;
  border: none;
}
.transaction-container {
  display: flex;
  justify-content: center;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}
// TABLE ROW CONTAINER
.transaction-row {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 2em;
  width: 100%;
}
.text {
  display: inline-block;
}
.date {
  display: inline-block;
}
.price {
  display: inline-block;

  &.red {
    color: #{$primaryColor};
  }
  &.green {
    color: #11d811;
  }
}
.category {
  display: inline-block;
}

// TABLE on smartphones
@media only screen and (max-width: 600px) {
  .transaction-row:only-child {
    font-size: x-small;
    margin h5 {
      font-size: 10px;
    }
    .category {
      width: max-content;
      display: none;
    }
    .text {
      display: inline-block;
    }
    .date {
      display: inline-block;
    }
    .price {
      max-width: max-content;
    }
  }
}
