button {
  background: white;
  color: #f00946;
  border: 1px solid#f00946;
  align-self: stretch;
}

button:hover {
  color: white;
  background: #f00946;
  transform: scale(1.01);
  transition: all 0.1s ease-out;
  border: 1px solid#f00946;
  cursor: pointer;
}
