@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root,
body,
html {
  height: 100%;
  margin: 0;
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

body.light-mode {
  background-color: #fff;
  color: #1b1b1b;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1b1b1b;
  color: whitesmoke;
  height: fit-content;
}

.dark-mode-toggle > button {
  color: #999;
}
.dark-mode-toggle > button:last-child {
  color: lightblue;
}

.Cards {
  background: whitesmoke;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 300px;
  height: 300px;
  text-decoration: none;
  border-radius: 8px;
}
